<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title><%- title %></title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" type="image/png" href="../img/server-icon.png"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.13/semantic.min.css" integrity="sha256-/Z28yXtfBv/6/alw+yZuODgTbKZm86IKbPE/5kjO/xY=" crossorigin="anonymous" />
    <script src="https://use.fontawesome.com/70efdfea82.js"></script>
    <link rel="stylesheet" href="../css/main.css"/>
  </head>
  <body>

    <!-- <div class="ui inverted menu"> -->
      <!-- <div class="header item">
      </div> -->
    <!-- </div> -->
    <div class="ui grid">

      <div class="four wide column">
        <!-- Spacing-->
      </div>

      <div class="eight wide column panel">
        <div class="glitch" data-text="<%- title %>"><%- title %></div>
        <hr style="filter:opacity(10%)">
