<%- include('header', {title: title}) %>

<p>
  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse in velit luctus, sagittis quam sit amet, gravida erat. Vivamus ullamcorper arcu et pulvinar fermentum. Ut sed varius nulla. Maecenas condimentum libero ex, sit amet fringilla lectus laoreet vitae. Nullam ac augue orci. Integer neque mauris, tempor id malesuada fermentum, luctus tempus tortor. Pellentesque a consequat nunc. Mauris nunc massa, condimentum nec ante vitae, egestas ornare erat. Aliquam enim libero, tristique id quam nec, sodales ullamcorper ex. Quisque id dolor nisi.
</p>

<%- include('footer') %>
